{% extends "base.html" %}

{% block content %}
<div class="container back-image">
  <h1 class="mt-5 text-danger text-center">
    Drone Video Feed For Body Tracking
  </h1>
  <img id="bodyVideo" src="{{ url_for('body_tracking.bodytracker_video_feed') }}" alt="Body Video">

  <div class="button-group mt-3">
    <button id="captureImageBtn" class="button is-primary mx-2">Capture Image</button>
    <button id="startRecordingBtn" class="button is-success mx-2">Start Recording</button>
    <button id="stopRecordingBtn" class="button is-warning mx-2">Stop Recording</button>
  </div>
  <div class="d-flex justify-content-center">
    <button id="stopTrackingBtn" class="button is-danger mx-2">Stop Body Tracking</button>
    <button id="backBtn" class="button is-primary mx-2">Back</button>
  
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var stopTrackingBtn = document.getElementById("stopTrackingBtn");
      var captureImageBtn = document.getElementById("captureImageBtn");
      var startRecordingBtn = document.getElementById("startRecordingBtn");
      var stopRecordingBtn = document.getElementById("stopRecordingBtn");
      var bodyVideo = document.getElementById("bodyVideo");

      stopTrackingBtn.addEventListener("click", function () {
        fetch("{{ url_for('body_tracking.stop_bodytracking') }}")
          .then(response => response.text())
          .then(data => {
            console.log(data);
            bodyVideo.src = "";
            alert('Body tracking stopped.');
          })
          .catch(error => console.error('Error:', error));
      });

      captureImageBtn.addEventListener("click", function () {
        fetch("{{ url_for('body_tracking.capture_image') }}")
          .then(response => response.text())
          .then(data => {
            console.log(data);
            alert('Image captured: ' + data);
          })
          .catch(error => console.error('Error:', error));
      });

      startRecordingBtn.addEventListener("click", function () {
        fetch("{{ url_for('body_tracking.start_recording') }}")
          .then(response => response.text())
          .then(data => {
            console.log(data);
            alert(data);
          })
          .catch(error => console.error('Error:', error));
      });

      stopRecordingBtn.addEventListener("click", function () {
        fetch("{{ url_for('body_tracking.stop_recording') }}")
          .then(response => response.text())
          .then(data => {
            console.log(data);
            alert(data);
          })
          .catch(error => console.error('Error:', error));
      });
      backBtn.addEventListener("click", function () {
        window.location.href = "{{ url_for('main.profile') }}";
      });
    });
  </script>
</div>
{% endblock %}