{% extends "base.html" %}

{% block content %}
<div class="container back-image">
  <h1 class="mt-5 text-danger text-center">
    Drone Video Feed with Keypad Control
  </h1>
  <div class="tutorial mb-3">
    <h2 class="text-center">Keypad Control Guidelines:</h2>
    <ul>
      <li>Use arrow keys for directional movement (LEFT, RIGHT, UP, DOWN).</li>
      <li>Press 'W' to ascend and 'S' to descend.</li>
      <li>Press 'A' to rotate left and 'D' to rotate right.</li>
      <li>Press 'F' to perform a flip.</li>
      <li>Press 'Q' to land (Hold for 3 seconds).</li>
      <li>Press 'E' to take off.</li>
      <li>Press 'I' to capture an image.</li>
    </ul>
  </div>
  <img id="droneVideo" src="{{ url_for('keypad_control.keypad_video_feed') }}" alt="Drone Video">

  <div class="button-group mt-3">
    <button id="captureImageBtn" class="button is-primary fs-3 mx-2">Capture Image</button>
    <button id="startRecordingBtn" class="button is-success fs-3 mx-2">Start Recording</button>
    <button id="stopRecordingBtn" class="button is-warning fs-3 mx-2">Stop Recording</button>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button id="stopTrackingBtn" class="button is-danger fs-3 me-2">Stop Keypad Control</button>
    <button id="backBtn" class="button is-primary mx-2">Back</button>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var captureImageBtn = document.getElementById("captureImageBtn");
      var startRecordingBtn = document.getElementById("startRecordingBtn");
      var stopRecordingBtn = document.getElementById("stopRecordingBtn");
      var stopTrackingBtn = document.getElementById("stopTrackingBtn");
      var droneVideo = document.getElementById("droneVideo");
      var backBtn = document.getElementById("backBtn");

      captureImageBtn.addEventListener("click", function () {
        fetch("{{ url_for('keypad_control.capture_image') }}")
          .then(response => response.text())
          .then(data => {
            console.log(data);
            alert('Image captured: ' + data);
          })
          .catch(error => console.error('Error:', error));
      });

      startRecordingBtn.addEventListener("click", function () {
        fetch("{{ url_for('keypad_control.start_recording') }}")
          .then(response => response.text())
          .then(data => {
            console.log(data);
            alert(data);
          })
          .catch(error => console.error('Error:', error));
      });

      stopRecordingBtn.addEventListener("click", function () {
        fetch("{{ url_for('keypad_control.stop_recording') }}")
          .then(response => response.text())
          .then(data => {
            console.log(data);
            alert(data);
          })
          .catch(error => console.error('Error:', error));
      });

      stopTrackingBtn.addEventListener("click", function () {
        fetch("{{ url_for('keypad_control.stop_keypad_control') }}")
          .then(response => response.text())
          .then(data => {
            console.log(data);
            droneVideo.src = "";
            alert('KeyPad Control stopped.');
          })
          .catch(error => console.error('Error:', error));
      });

      backBtn.addEventListener("click", function () {
        window.location.href = "{{ url_for('main.profile') }}";
      });

      document.addEventListener('keydown', function (event) {
        let key;
        switch (event.key) {
          case 'ArrowLeft':
            key = 'LEFT';
            break;
          case 'ArrowRight':
            key = 'RIGHT';
            break;
          case 'ArrowUp':
            key = 'UP';
            break;
          case 'ArrowDown':
            key = 'DOWN';
            break;
          case 'w':
            key = 'w';
            break;
          case 's':
            key = 's';
            break;
          case 'a':
            key = 'a';
            break;
          case 'd':
            key = 'd';
            break;
          case 'f':
            key = 'f';
            break;
          case 'q':
            key = 'q';
            break;
          case 'e':
            key = 'e';
            break;
          case 'i':
            key = 'i';
            break;
        }

        if (key) {
          fetch('/control', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ key: key })
          });
        }
      });

      document.addEventListener('keyup', function (event) {
        let key;
        switch (event.key) {
          case 'ArrowLeft':
          case 'ArrowRight':
          case 'ArrowUp':
          case 'ArrowDown':
          case 'w':
          case 's':
          case 'a':
          case 'd':
            key = 'stop';
            break;
        }

        if (key) {
          fetch('/control', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ key: key })
          });
        }
      });
    });
  </script>
</div>
{% endblock %}