{% extends "base.html" %}

{% block left_side %}
<div class="text-center w-100 position-relative">
    <img src="{{ url_for('static', filename='images/dronex.png') }}" alt="Login Drone"
        class="background-image img-fluid position-absolute top-50 start-50 translate-middle" style="opacity: 1;">
</div>
{% endblock %}

{% block right_side %}
<div class="d-flex justify-content-center align-items-center" style="height: 100%;">
    <div class="column is-4">
        <h3 class="mt-5 text-center">Login</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form class="mt-5" method="POST" action="/login">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="email" placeholder="Your Email" autofocus="">
                    <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                        placeholder="Your Password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" name="remember" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <span class="ms-3">Don't have an account? <a href="{{ url_for('auth.signup') }}">Create
                        account?</a></span>
            </form>
        </div>
    </div>
</div>
{% endblock %}
