{% extends "base.html" %}

{% block content %}
    <h1 class="text-center mt-5">How to Use FUAVS</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="{{ url_for('static', filename='images/1ststep.jpg') }}" alt="Signup/Login" class="img-fluid" style="max-width: 300px; max-height: 300px; border-radius: 20px;">
            </div>
            <div class="col-md-6 mt-5 pt-5">
                <h2>1. Signup/Login</h2>
                <p>To get started with FUAVS, you need to create an account or login if you already have one. For signing up, enter your email, name, and password in the signup form. If you already have an account, use your email and password to log in through the login form.</p>
            </div>
        </div>
        <div class="row mt-4 ">
            <div class="col-md-6 mt-5 pt-5">
                <h2>2. Connect to the Drone</h2>
                <p>After logging in, turn on your drone and connect to it using your device's WiFi settings. Ensure that your device is connected to the drone's WiFi network to control it using the FUAVS app.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="{{ url_for('static', filename='images/2ndStep.jpg') }}" alt="Connect to Drone" class="img-fluid" style="max-width: 300px; max-height: 300px; border-radius: 20px;">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 text-center">
                <img src="{{ url_for('static', filename='images/3rdStep.jpg') }}" alt="Modules" class="img-fluid" style="max-width: 300px; max-height: 300px; border-radius: 20px;">
            </div>
            <div class="col-md-6 mt-5 pt-5">
                <h2>3. Click on Any Module You Want</h2>
                <p>Select any module you want to use, such as Face Tracking, Body Tracking, Hand Gesture Control, Keypad Control, Fire Detection, or Gun Detection. Click on the desired module, and the drone will perform the corresponding actions. You can also capture images and record videos from the drone's video stream displayed on the webpage.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 mt-5 pt-5">
                <h2>4. Logout</h2>
                <p>Once you are done using the FUAVS app, log out from your account to ensure your session is securely closed. Also, disconnect from the drone's WiFi network.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="{{ url_for('static', filename='images/4thStep.jpg') }}" alt="Logout" class="img-fluid" style="max-width: 300px; max-height: 300px; border-radius: 20px;">
            </div>
        </div>
    </div>
{% endblock %}
